{% extends 'base.html.twig' %}

{% block title %}Liste des tops{% endblock %}

{% block body %}
    <h1>Liste des Tops</h1>

    {{form(formRecherche)}}

    {% if tops | length > 0 %}
        <table class="table">
            <thead>
                <th>Nom</th>
                <th>Prénom</th>
            </thead>
            <tbody>
                {% for top in tops %}
                    <tr>
                        <td><a href="{{path('app_top.show',{id:top.id})}}">{{top.nom}}</a></td>
                        <td><a href="{{path('app_top.show',{id:top.id})}}">{{top.prenom}}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    {% else %}
        <p>Il ne pas avoir de Tops dans les critères</p>
    {% endif %}

{% endblock %}
