{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>Bonjour {{user.prenom}} {{user.nom}} !</h1>
    <p>Comment ca va ?</p>


    <p>Mon référant est : {{user.top}}</p>
    {% if user.filleuls | length >0 %}
        <table>
            <thead>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Dernière Appréciation</th>
                <th>Ajouter une Appréciation</th>
            </thead>
            <tbody>
                {% for filleul in user.filleuls %}
                <tr>
                    <td><a href="{{path('app_filleul.show',{id:filleul.id})}}">{{filleul.nom}}</a></td>
                    <td><a href="{{path('app_filleul.show',{id:filleul.id})}}">{{filleul.prenom}}</a></td>
                    <td>
                        {% if filleul.parrainAppreciations | length > 0 %}
                        <table>
                            <thead>
                                <th>Appréciation</th>
                                <th>Humeur</th>
                                <th>Travail</th>
                                <th>Date</th>
                            </thead>
                            <tbody>
                                {{filleul.parrainAppreciations|last|raw}}
                            </tbody>
                        </table>
                        {% else %}
                            <p>Pas encore d'Appréciation</p>
                        {% endif %}
                    </td>
                    <td><a href="{{path('appreciation.new',{idFilleul:filleul.id,idParrain:user.id})}}">+</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
