{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div id="wrapper">

    
        <h1>Bonjour <span id="presentation">{{user.prenom}} {{user.nom}} </span> !</h1>


        <p>Mon référant est : <a href="{{path('app_top.show',{id:user.top.id})}}">{{user.top}}</a></p>
        {% if user.filleuls | length >0 %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th rowspan="2">Nom</th>
                        <th rowspan="2">Prénom</th>
                        <th colspan="4">Dernière Appréciation</th>
                        <th rowspan="2">Action</th>
                    </tr>
                    <tr>
                        <th>Appreciation</th>
                        <th>Travail</th>
                        <th>Humeur</th>
                        <th>Date</th>
                    </tr>

                </thead>
                <tbody>
                    {% for filleul in user.filleuls %}
                    <tr>
                        <td><a href="{{path('app_filleul.show',{id:filleul.id})}}">{{filleul.nom}}</a></td>
                        <td><a href="{{path('app_filleul.show',{id:filleul.id})}}">{{filleul.prenom}}</a></td>
                        
                        {% if filleul.parrainAppreciations | length > 0 %}
                            {{filleul.parrainAppreciations|last|raw}}
                            <td>
                                <a href="{{path('appreciation.edit',{id:filleul.parrainAppreciations|last.id})}}"><i class="fa-solid fa-pen-to-square" style="color: #FFD43B;"></i></a>
                            
                            {% if filleul.parrainAppreciations | length < 13 %}
                                <a href="{{path('appreciation.new',{idFilleul:filleul.id,idParrain:user.id})}}"><i class="fa-solid fa-plus" style="color: #3eec32;"></i></a>
                            {% endif %}
                            </td>
                        {% else %}
                            <td colspan="4">Pas encore d'Appréciation</td>
                            <td>
                                <a href="{{path('appreciation.new',{idFilleul:filleul.id,idParrain:user.id})}}"><i class="fa-solid fa-plus" style="color: #3eec32;"></i></a>
                            </td>
                        {% endif %}
                        

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
