{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div id="topHome">
        <h1>Bonjour <span id="presentation">{{user.prenom}} {{user.nom}}</span> !</h1>

        {% if user.parrains | length > 0 %}
            <div id="titreParrains">
                <h2>Liste des parrains</h2>
                <div class="buttonPlus">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="buttonMoins hide">
                    <i class="fa-solid fa-minus"></i>
                </div>
            </div>
            
            <div id="listeParrains" class="hide">
                <table class="table table-striped table-hover">
                    <thead>
                        <th>Nom</th>
                        <th>Prénom</th>
                    </thead>
                    <tbody>
                        {% for parrain in user.parrains %}
                            <tr>
                                <td><a href="{{path('app_parrain.show',{id:parrain.id})}}">{{parrain.nom}}</a></td>
                                <td><a href="{{path('app_parrain.show',{id:parrain.id})}}">{{parrain.prenom}}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            

        {% endif %}
    
        {% if filleuls | length > 0 %}
            <div id="titreFilleuls">
                <h2>Liste des filleuls</h2>
                <div class="buttonPlus">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="buttonMoins hide">
                    <i class="fa-solid fa-minus"></i>
                </div>
            </div>
            <div id="listeFilleuls" class="hide">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2">Nom</th>
                            <th rowspan="2">Prénom</th>
                            <th class="title" colspan="4">Appréciation des parrains</th>
                            <th rowspan="2">Appréciation du Top</th>
                            <th rowspan="2">Action</th>
                        </tr>
                        <tr>
                            <th>Appreciation</th>
                            <th>Travail</th>
                            <th>Humeur</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for filleul in filleuls %}
                        <tr>
                            <td><a href="{{path('app_filleul.show',{id:filleul.id})}}">{{filleul.nom}}</a></td>
                            <td><a href="{{path('app_filleul.show',{id:filleul.id})}}">{{filleul.prenom}}</a></td>

                            {% if filleul.parrainAppreciations | length > 0 %}

                                {{filleul.parrainAppreciations|last|raw}}

                            {% else %}
                                <td colspan="4">
                                    <p>Pas encore d'Appréciation</p>
                                </td>
                            {% endif %}

                            <td>
                                {% if filleul.topAppreciations | length > 0 %}
                                    {{filleul.topAppreciations | last }}
                                {% else %}
                                    <p>Pas encore d'appreciation de Mi-Semestre</p>
                                    
                                {% endif %}
                            </td>
                            <td>
                                {% if filleul.topAppreciations | length < 2 %}
                                    <a href="{{path('appreciation.top.new',{idTop:user.id,idFilleul:filleul.id})}}"><i class="fa-solid fa-plus" style="color: #3eec32;"></i></a>
                                {% endif %}
                                {% if filleul.topAppreciations | length >= 1 %}
                                    <a href="{{path('appreciation.top.edit',{id:filleul.topAppreciations | last.id})}}"><i class="fa-solid fa-pen-to-square" style="color: #FFD43B;"></i></a>
        
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

    <script src="{{asset('JS/hideParrainList.js')}}"></script>
    <script src="{{asset('JS/hideFilleulList.js')}}"></script>
    
{% endblock %}
