{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">

        <h1>Changer de mot de passe</h1>

        {{ form_start(form) }}
            {{ form_row(form.oldPassword) }}
            {{ form_row(form.newPassword) }}
            {{ form_row(form.confirmPassword) }}

            <button class="btn">Changer de mot de passe</button>
        {{ form_end(form) }}

    </div>

{% endblock %}