{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">

        <h1>Changer de mot de passe</h1>

        {{ form_start(form, {'attr': {'class': 'form' } })}}
        <div class="row col-md-12">
            {{ form_row(form.oldPassword) }}
        </div>

        <div class="row col-md-12">
            {{ form_row(form.newPassword) }}
        </div>

        <div class="row col-md-12">
            {{ form_row(form.confirmPassword) }}
        </div>

        <div class="row">
            <div class="col-md-12 buttonDivForm">
                {{ form_row(form.Valider) }}
            </div>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}