{# templates/form/nouv_account.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<nav>
    <ul>
        <li><a href="{{path('app_registerManual',{role:'parrain'})}}">Parrain</a></li>
        <li><a href="{{path('app_registerManual',{role:'top'})}}">Top</a></li>
        <li><a href="{{path('app_registerManual',{role:'admin'})}}">Admin</a></li>
    </ul>
</nav>
<h1>Ajouter un nouveau {{role}}</h1>
{{ form_start(form) }}
    {{ form_row(form.email) }}
    {% if  role != 'admin' %}
        {{ form_row(form.idRole) }}
    {% endif %}
    {{ form_row(form.password) }}
    {{ form_row(form.isVerified) }}
    {{ form_row(form.Valider) }}
{{ form_end(form) }}

{% endblock %}