{# templates/form/nouv_account.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div id="wrapper">
    <nav id="navManualRegister">
        <ul>
            <li><a href="{{path('app_registerManual',{role:'parrain'})}}">Parrain</a></li>
            <li><a href="{{path('app_registerManual',{role:'top'})}}">Top</a></li>
            <li><a href="{{path('app_registerManual',{role:'direction'})}}">Direction</a></li>
        </ul>
    </nav>
    <h1>Ajouter un nouveau {{role}}</h1>
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
        <div class="row">
            {{ form_row(form.email) }}
        </div>
        
        <div class="row">
            {{ form_row(form.idRole) }}
        </div>

        <div class="row">
            <div class="col-md-12 buttonDivForm">
                {{ form_row(form.Valider) }}
            </div>
        </div>
    {{ form_end(form) }}
</div>


{% endblock %}