{% extends 'base.html.twig' %}

{% block title %}Hello FilleulController!{% endblock %}

{% block body %}
    <div id="wrapper">
        <div class="rechercheListe" >
            <div id="rechercheHeader">
                <h2>Recherche</h2>
                <div class="buttonPlus">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="buttonMoins hide">
                    <i class="fa-solid fa-minus"></i>
                </div>
            </div>

            {{ form_start(formRecherche, {'attr': {'class': 'form hide','id' : "formRecherche"}}) }}
            
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(formRecherche.nom) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(formRecherche.prenom) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(formRecherche.mail) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(formRecherche.telephone) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(formRecherche.parrain) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(formRecherche.faculte) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(formRecherche.mineure) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(formRecherche.specialite) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 buttonDivForm">
                    {{ form_row(formRecherche.Rechercher) }}
                </div>
            </div>

            {{ form_end(formRecherche) }}
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <th>Nom</th>
                <th>Prénom</th>
            </thead>
            <tbody>
                {% for filleul in filleuls %}
                    <tr>
                        <td><a href="{{path('app_filleul.show',{id:filleul.id})}}">{{filleul.nom}}</a></td>
                        <td><a href="{{path('app_filleul.show',{id:filleul.id})}}">{{filleul.prenom}}</a></td>
                    </tr>    
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
