{% extends 'base.html.twig' %}

{% block title %}Hello FilleulController!{% endblock %}

{% block body %}
    <div id="wrapper">
        <h1>Profile de {{filleul.nom}} {{filleul.prenom}}</h1>

        <p>Mon referent est : <a href="{{path('app_parrain.show',{id:filleul.parrain.id})}}">{{filleul.parrain}}</a> </p>
        <table class="table">
            <thead>

                
                <tr>
                    <th rowspan="2">Semaine</th>
                    <th class="title" colspan="4">Appréciation des parrains</th>
                    {% if is_granted('ROLE_TOP') or is_granted('ROLE_DIRECTION') %}
                        <th rowspan="2">Appréciation du Top</th>
                    {% endif %}
                    <th rowspan="2">Action</th>
                </tr>
                <tr>
                    <th>Appreciation</th>
                    <th>Travail</th>
                    <th>Humeur</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for i in 1..13 %}
                    <tr>
                        <td>S{{i}}</td>

                        {% if is_granted('ROLE_TOP') or is_granted('ROLE_DIRECTION') %}
                            <td> {{filleul.topAppreciations[0]}}</td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>


        
        {% if filleul.parrainAppreciations | length >0 %}
        <table>
            <thead>
                <th>Appreciation</th>
                <th>Humeur</th>
                <th>Travail</th>
                <th>Date de création</th>
            </thead>
            <tbody>
                {% for appreciation in filleul.parrainAppreciations %}
                    <tr>
                        {{appreciation | raw}}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>



{% endblock %}
