{% extends 'base.html.twig' %}

{% block title %}Hello ParrainController!{% endblock %}

{% block body %}
    <div id="wrapper">
        <h1><span id="presentation">{{parrain.nom}} {{parrain.prenom}}</span></h1>


        <p>le superviseur est <a href="{{path('app_top.show',{id:parrain.top.id})}}">{{parrain.top.nom}} {{parrain.top.prenom}}</a></p>

        {% if parrain.filleuls | length > 0 %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th rowspan="2">Nom</th>
                    <th rowspan="2">Prénom</th>
                    <th class="title" colspan="4">Appréciation des Parrains</th>
                    {% if is_granted('ROLE_TOP') or is_granted('ROLE_DIRECTION') %}
                        <th rowspan="2">Appréciation du Top</th>
                    {% endif %}
                </tr>
                <tr>
                    <th>Appreciation</th>
                    <th>Travail</th>
                    <th>Humeur</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for filleul in parrain.filleuls|sort((a, b) => a.nom <=> b.nom) %}
                <tr>
                    <td><a href="{{path('app_filleul.show',{id:filleul.id})}}">{{filleul.nom}}</a></td>
                    <td><a href="{{path('app_filleul.show',{id:filleul.id})}}">{{filleul.prenom}}</a></td>

                    {% if filleul.parrainAppreciations | length > 0 %}
                        {{filleul.parrainAppreciations|last|raw}}
                    {% else %}
                        <td colspan="4">Pas encore d'Appréciation</p>
                    {% endif %}
                    
                    <td>
                        {% if is_granted('ROLE_TOP') or is_granted('ROLE_DIRECTION') %}
                            {% if filleul.topAppreciations | length > 0 %}
                                {{filleul.topAppreciations | last }}
                            {% else %}
                                <p>Pas encore d'appreciation de Mi-Semestre</p>
                            {% endif %}
                        {% endif %}
                    </td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Le parrain n'a pas encore de filleul relier</p>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary" href="{{path('app_resetmdp',{id_role:parrain.id,role:"parrain"})}}">Rénitialisation du compte</a>
        {% endif %}
    </div>

{% endblock %}
